@font-face {
  font-family: "iconfont"; /* Project id 3955470 */
  src: url('iconfont.woff2?t=1678892979168') format('woff2'),
       url('iconfont.woff?t=1678892979168') format('woff'),
       url('iconfont.ttf?t=1678892979168') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e648";
}

.icon-previous:before {
  content: "\e64a";
}

